

<div class="container pt-8">
  <div class="row justify-content-sm-center pt-8">
    <div class="col-sm-10 shadow round">
      <h4><i class="text-success">Sucessfully paid ! you can see your payment information in the below </i>
        <br>And you can print your payment information by clicking the print button below</h4>
      
          <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Payment Status</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.status}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Payment Date</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.PaymentDate}}
          </div>
          </div>
          <hr>
        </div>


        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Payment ID</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.PaymentID}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Amount Paid</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.paidPrice}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">payee Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.payeeName}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Payer Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.payerName}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Payer Id</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.payer_id}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Payer Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.payerEmail}}
          </div>
          </div>
          <hr>
        </div>


        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Address Line 1</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.addressLine1}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">City</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.city}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Country Code</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.countryCode}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Postal Code</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.postalCode}}
          </div>
          </div>
          <hr>
        </div>

        <div>
          <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">State</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{this.paymentResponse.state}}
          </div>
          </div>
          <hr>
        </div>
        
        <button (click)="printPage()"><i class="fa fa-print fa 2x text-success"></i>print</button>
     
      </div>
      </div>
</div>


  