<h3>Contacts</h3>

<div>
    &nbsp;
    <h6 class="center">You can contact the developers team here:</h6>
    &nbsp;
    <p class="center">Giada Gabriele:<a [href]="'mailto:gbrgdi97e49d086e@studenti.unical.it'">&nbsp;gbrgdi97e49d086e@studenti.unical.it</a></p>
    &nbsp;
    <p class="center">Mohamed Ahmed Mohamed Abdelzaher:<a [href]="'mailto:bdlmmd97r01z33st@studenti.unical.it'">&nbsp;bdlmmd97r01z33st@studenti.unical.it</a></p>
    &nbsp;
    <p class="center">Antonio Rocco Spataro:<a [href]="'mailto:sptnnr98h22c710j@studenti.unical.it'">&nbsp;sptnnr98h22c710j@studenti.unical.it</a></p>
    &nbsp;
    <p class="center">Tesfay Gebremeskel Chekole:<a [href]="'mailto:chktfy91r24z315b@studenti.unical.it'">&nbsp;chktfy91r24z315b@studenti.unical.it</a></p>
    &nbsp;
    <p class="center">Gebreyowhans Hailekiros Bahre:<a [href]="'mailto:bhrgry93h02z315p@studenti.unical.it'">&nbsp;bhrgry93h02z315p@studenti.unical.it</a></p>
    &nbsp;
    <p class="center">Beatrice Motta:<a [href]="'mailto:mttbrc98c66i874e@studenti.unical.it'">&nbsp;mttbrc98c66i874e@studenti.unical.it</a></p>
    &nbsp;
</div>