<div class="container">
  <form novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-2">
        <label for="name">Nome Prodotto</label>
        <input type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Nome">
      </div>
      <div class="col-md-4 mb-2">
        <label for="description">Descrizione Prodotto</label>
        <input type="text"
          class="form-control"
          id="description"
          name="description"
          placeholder="Description">
      </div>
      <div class="col-md-4 mb-2">
        <label for="size">Dimensioni prodotto</label>
        <input type="input"
          class="form-control"
          id="size"
          name="size"
          placeholder="Inserisci dimensioni prodotto">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-2">
        <label for="price">Prezzo: </label>
        <input type="number"
          step="0.01"
          class="form-control"
          id="price"
          name="price"
          placeholder="Prezzo">
      </div>
      <div class="col-md-4 mb-2">
        <label for="brand">Brand</label>
        <input type="text"
          class="form-control"
          id="brand"
          name="brand"
          placeholder="Brand">
      </div>
      <div class="col-md-4 mb-2">
        <label for="color">Colore</label>
        <input type="text"
          class="form-control"
          id="color"
          name="color"
          placeholder="Colore">
      </div>
    </div>
    <div class="form-row mt-3 mb-3">
        <label for="quantity">Quantità</label>
        <input type="number"
          class="form-control"
          id="quantity"
          name="quantity"
          placeholder="Quantit&agrave;">
    </div>
    <div class="form-row" style="margin-bottom: 30px;">
      <button
        type="submit"
        class="btn btn-primary">Aggiungi Prodotto</button>
    </div>
  </form>
</div>