<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- category1 -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/assets/img/shop01.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Laptop<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /category1 -->

      <!-- category2 -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/assets/img/shop03.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Accessories<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /category2 -->

      <!-- category3 -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/assets/img/shop02.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Cameras<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /category3 -->

       <!-- category4 -->
       <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/assets/img/shop02.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Cameras<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /category4 -->

       <!-- category5 -->
       <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/assets/img/shop02.png" alt="">
          </div>
          <div class="shop-body">
            <h3>CAMERAAAAPROVAAAAAAA<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /category5 -->


       <!-- category6 -->
       <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/assets/img/shop02.png" alt="">
          </div>
          <div class="shop-body">
            <h3>Cameras<br>Collection</h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /category6 -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
<hr style="color: transparent;"/>
<hr style="color: transparent;"/>
<hr style="color: transparent;"/>