<ng-template #popTitle let-favorite="favorite">Favorite Products</ng-template>
<ng-template #popContent let-favorite="favorite">
        <table class="table" style="width: fit-content;">
            <tbody>
                <tr *ngFor="let favorite of favorites">
                <td>{{ favorite.productId}}</td>
                <td>
                  <a routerLink="/favorite" (click)="deleteFavorite(favorite.id)"> X</a>
                </td>
                </tr>
            </tbody>
        </table>
</ng-template>
<button
  type="button" class="btn btn-outline-secondary mr-2"
  [ngbPopover]="popContent" [popoverTitle]="popTitle"
  triggers="manual" #p1="ngbPopover" (click)="toggleMessage(p1)"
>
  Favorites
</button>
