<h3 style="margin-left: 10px; margin-top: 10px;">Purchase</h3>
<div class="container">
    <h5 style="margin-bottom: 20px;">Product name</h5>
    <p style="font-style: oblique;">image</p>
    <div class="product-details">
        <div class="add-to-cart">
            <a routerLink="/"> <button class="add-to-cart-btn"><i class="fa fa-credit-card"></i>Add card</button></a>
        </div>
        <div class="add-to-cart">
            <a routerLink="/"> <button class="add-to-cart-btn" disabled><i class="fa fa-cart-arrow-down"></i>Summary</button></a>
        </div>
    </div>
</div>