
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form  [formGroup]="formChangesSubscription" (ngSubmit)="onSubmit()">

    <h3>Send Message</h3>
      <span> Reciever ID</span>
      <input  formControlName="recieverId" name="recieverId"
      placeholder="reciever Email"
      ngModel required type="text"/>
      <input formControlName="subject" name="subject"
      placeholder="Subject" ngModel  required type="text"/>
      <textarea rows="4" cols="30" formControlName="description" name="description"
      placeholder="Your Message" ngModel ></textarea>
      <div>
        <p></p>
      </div>
      <button type="submit" >Send Message</button>
		</form>
	</div>
  </div>
