<header>
      <button slot="start">
        <!-- <button routerLink="/store"><i name="arrow-back-circle-outline"></i></button>> -->
      </button>
      <title>Pay With PayPal</title>
  </header>
  
  <!-- <content class="padding">
    <form [formGroup]="paymentForm">
      <item>
        <label position="floating">Amount</label>
        <input type="number" required formControlName="price"></input>
      </item>
      <item>
        <label position="floating">Remarks</label>
        <textarea type="text" required formControlName="description"></textarea>
      </item>
      <ion-button color="primary" slot="start" (click)="paymentWithPayPal()">Pay</button>
    </form>
  </content> -->
  