<ng-template #loading>
  <div class="loading">
    <img src="/assets/img/spinning-loading.gif" />
  </div>
</ng-template>

<div class="container mb-5 mt-5" id="profile">
  <!-- *ngIf="isProfileLoaded; else loading" -->

  <div class="row">

    <div class="col-lg-3">
      <fieldset class="border p-3 mt-4">
        <div class="col-12">
          <div class="form-group" id="profpic">
            <img
              src="/assets/img/joe.jpeg"
              id="imgProfile"
              class="img-thumbnail"
              alt=""
            />
            <div class="mt-2">
              <!-- <input type="file" (change)="onFileChanged($event)" id="profpicfile"  name="profpicfile"/>
              <a (click)="triggerInput()" class="btn btn-sm btn-success w-100 text-white">Change Photo</a> -->
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <form method="POST" [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-9">
          <fieldset class="border p-2">
            <legend class="w-auto">Personal Information</legend>
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-group mb-0">
                  <label for="firstName" class="form-control-label">
                    firstName<span>*</span>
                  </label>

                  <div class="controls">
                    <input
                      [value]="userProfile.firstName"
                      class="form-control"
                      formControlName="firstName"
                      id="firstName"
                      placeholder="eg: John"
                      required
                      type="text"
                    />

                    <!-- <div
                          *ngIf="firstName.touched && firstName.errors"
                          class="text-danger"
                        >
                          <span *ngIf="firstName.hasError('required')"
                            >required</span
                          >
                          <span *ngIf="firstName.hasError('maxlength')"
                            >max 15 char</span
                          >
                          <span *ngIf="firstName.hasError('minlength')"
                            >atleast 2 char</span
                          >
                        </div> -->
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group mb-0">
                  <label for="lastName" class="form-control-label">
                    lastName<span>*</span>
                  </label>
                  <div class="controls">
                    <input
                      [value]="userProfile.lastName"
                      class="form-control"
                      formControlName="lastName"
                      id="lastName"
                      required
                      type="text"
                      placeholder="eg: Smith"
                    />

                    <!-- <div
                          *ngIf="lastName.touched && lastName.errors"
                          class="text-danger"
                        >
                          <span *ngIf="lastName.hasError('required')"
                            >required</span
                          >
                          <span *ngIf="lastName.hasError('maxlength')"
                            >max 15 char</span
                          >
                          <span *ngIf="lastName.hasError('minlength')"
                            >atleast 2 char</span
                          >
                        </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email" class="form-control-label"
                    >Email<span>*</span>
                  </label>
                  <div class="controls">
                    <input
                      class="form-control"
                      id="email"
                      [attr.disabled]="true"
                      formControlName="email"
                      required="required"
                      type="email"
                    />
                    <div
                      *ngIf="email.touched && email.errors"
                      class="text-danger"
                    >
                      <span *ngIf="email.hasError('required')">required</span>
                      <span *ngIf="email.hasError('email')">invalid entry</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="username" class="form-control-label"
                    >Username<span>*</span>
                  </label>
                  <div class="controls">
                    <input
                      class="form-control"
                      id="username"
                      [attr.disabled]="true"
                      formControlName="username"
                      required="required"
                      type="text"
                    />
                    <div
                      *ngIf="username.touched && username.errors"
                      class="text-danger"
                    >
                      <span *ngIf="username.hasError('required')"
                        >required</span
                      >
                      <span *ngIf="username.hasError('maxlength')"
                        >max 10 char</span
                      >
                      <span *ngIf="username.hasError('minlength')"
                        >min 5 char</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="phoneNumber" class="form-control-label"
                    >phone Number<span>*</span>
                  </label>
                  <div class="controls">
                    <input
                      class="form-control"
                      id="phoneNumber"
                      formControlName="phoneNumber"
                      required="required"
                      type="text"
                      placeholder="(123)-456-7890"
                    />
                    <!-- <div
                          *ngIf="phoneNumber.touched && phoneNumber.errors"
                          class="text-danger"
                        >
                          <span *ngIf="phoneNumber.hasError('required')"
                            >required</span
                          >
                          <span *ngIf="phoneNumber.hasError('pattern')"
                            >invalid entry</span
                          >
                        </div> -->
                  </div>
                </div>
              </div>
            </div>

            <!--Birthday-->
            <!-- <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
  
                      <label for="birthdate" class="form-control-label"
                        >Birthday
                        <span>
                          <a id="datepickeDob" (click)="editDob()"
                            ><span class="badge badge-warning ml-1">EDIT</span></a
                          >
                        </span>
                      </label>
                      <div class="controls">
                        <input
                          type="text"
                          id="birthdate"
                          [attr.disabled]="true"
                          [value]="userProfile.birthday"
                          formControlName="birthdate"
                          class="form-control"
                        />
                        <div
                          *ngIf="birthdate.touched && birthdate.errors"
                          class="text-danger"
                        >
                          <span *ngIf="birthdate.hasError('required')"
                            >required</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="gender" class="form-control-label"
                    >Gender (optional)
                    <!-- <span>
                          <a id="genderPicker" (click)="editGender()"
                            ><span class="badge badge-warning ml-1">EDIT</span></a
                          >
                        </span> -->
                  </label>

                  <!-- <div class="controls">
                        <select
                          [attr.disabled]="true"
                          formControlName="gender"
                          class="form-control"
                          id="gender"
                        >
                          <option
                            [value]="userProfile.gender"
                            [disabled]="true"
                            selected
                          >
                            {{
                              userProfile.gender == "" ||
                              userProfile.gender == null
                                ? "Select Gender"
                                : userProfile.gender
                            }}
                          </option>
                        </select>
                      </div> -->
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="col-lg-3">
          <fieldset class="border p-3 mt-4">
            <!-- <div class="col-12">
                  <div class="form-group" id="profpic">
                    <img [src]="userProfile.profpicfile" id="imgProfile"  class="img-thumbnail"  alt=""/>
                    <div class="mt-2">
                      <input type="file" (change)="onFileChanged($event)" id="profpicfile"  name="profpicfile"/>
                      <a (click)="triggerInput()" class="btn btn-sm btn-success w-100 text-white">Change Photo</a>
                    </div>
                  </div>
                </div> -->
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6"></div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <fieldset class="border p-2">
            <legend class="w-auto"></legend>

            <!-- <div class="form-check-inline">
                  <label>
                    <input  type="checkbox" class="form-check-input"  formControlName="isTermsAccepted">Terms Accepted
                  </label>
                </div> -->

            <!-- <div class="form-check-inline">
                  <label>
                    <input type="checkbox" class="form-check-input" [attr.disabled]="true" formControlName="isEmailVerified">Email Verified
                  </label>
                </div> -->

            <!-- <div class="form-check-inline">
                  <label>
                    <input type="checkbox" class="form-check-input" formControlName="isTwoFactorOn">Two Factor Auth
                  </label>
                </div> -->

            <!-- <div class="form-check-inline">
                  <label>
                    <input type="checkbox" class="form-check-input" [attr.disabled]="true" formControlName="isphoneNumberVerified">phoneNumber Verified
                  </label>
                </div> -->

            <!-- <div *ngIf="isTermsAccepted.touched && isTermsAccepted.errors" class="text-danger">
                  <span *ngIf="isTermsAccepted.hasError('required')">Please accept the terms</span>
                </div> -->
          </fieldset>
        </div>
      </div>

      <div class="pt-3">
        <div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-custom-class">
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  
</div>

<!-- MODAL FOR REGISTRATION ERRORS -->

<!-- <div class="modal" id="errorModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ modalTitle }}</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="list-group-item active">{{ modalMessage }}</p>
        <ul class="list-group" *ngFor="let error of errorList">
          <li class="list-group-item">
            <i class="fas fa-times text-danger mr-2"></i>{{ error }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
