<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Mail</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem (click) ="mail('Inbox')">Inbox</button>
              <button ngbDropdownItem (click) ="mail('Sent Messages')">Sent Mail</button>
              <button ngbDropdownItem (click) ="mail('All')">All Mail</button>
            </div>
          </div>
    <div class="row">
<div > <table class="table" style="width: 100%">
                        <tbody>
                        <tr><th> {{typeMessage}}</th> </tr>
                        <tr> <td> Sender Id </td> <td> Subject</td> <td> Description </td> <td> Date </td> </tr>
                            <tr *ngFor="let inbo of message" style ="width:900px">
                            <td>
                                <div id="product-imgs">
                                    <div class="product-preview">
                                    {{inbo.senderId}}
                                    </div>
                                </div>
                            </td>
                            <td>
                            {{inbo.subject}}
                            </td>
                            <td>
                            {{inbo.description}}
                            </td>
                            <td>
                            {{inbo.sentDate}}
                            </td>
                            <td>
                            <a href="javascript: void(0)" class ="btn primary" (click) ="writeMessage(inbo.senderId)"> Write Message </a>
                            </td>
                            <td>
                            <a href="javascript: void(0)" class ="btn primary" (click) ="delete(inbo.id)"> Delete </a>
                            </td>
                            <td>

                               <ng-template #popTitle let-report="report">Report the user</ng-template>
                                <ng-template #popContent let-report="report" style="width: 200px">

                                <form>
                                  <div class="form-check">
                                    <input type="radio" class="form-check-input" id="r2" name="Inappropriate"
                                          [(ngModel)]="template" value="Inappropriate">
                                    <label style="font-size: medium;" class="form-check-label" for="materialChecked">Inappropriate</label>
                                  </div>
                                  <hr>
                                  <div class="form-check">
                                    <input type="radio" class="form-check-input" id="r3" name="intimidation"
                                          [(ngModel)]="template" value="Bullying or intimidation">
                                    <label style="font-size: medium;" class="form-check-label" for="materialChecked">Bullying or intimidation</label>
                                  </div>
                                  <hr>
                                  <div class="form-check">
                                    <input type="radio" class="form-check-input" id="r4" name="scam"
                                          [(ngModel)]="template" value="Possible scam">
                                    <label style="font-size: medium;" class="form-check-label" for="materialChecked">Possible scam</label>
                                  </div>
                                  <hr>
                                  <div class="form-check">
                                    <input type="radio" class="form-check-input" id="r5" name="not"
                                          [(ngModel)]="template" value="Prefer not to say">
                                    <label style="font-size: medium;" class="form-check-label" for="materialChecked">Prefer not to say</label>
                                  </div>                     

                                </form>
                                <div class="product-details">
                                  <div class="add-to-cart">
                                <button mdbBtn color="primary" style="margin-top: 20px;" class="add-to-cart-btn" mdbWavesEffect (click)="onSave(inbo.senderId)"> <i class="fa fa-send" aria-hidden="true"></i>Submit</button>
                                </div>
                              </div>

                                </ng-template>
                                <div *ngIf="inbo.senderId != user.id">
                                  <a href="javascript: void(0)">
                                    <i class="fa fa-exclamation-circle" [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="bottom"
                                  triggers="manual" [autoClose] ="false" data-toggle="popover" #p="ngbPopover" (click)="toggleMessage(p)"><span> Report</span> </i>
                                  </a>
                                </div>

                              </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                     </div>
                      </div>
                       </div>
