<div class="container my-5">
  
    <form >
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2>Personalization</h2>
          <hr>
        </div>
      </div>
     
    <div class="row">
     <div class="col-md-3 field-label-responsive">
        <label for="aboutclothes"><h5>About You</h5></label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <form>
               <div class="input-group-prepend" style="width: 2.6rem"></div>
                <input type="checkbox" id="female" name="female" value="Female">
                <label for="female"> &#160; Female </label><br>
                <input type="checkbox" id="male" name="male" value="Male">
                <label for="male"> &#160; Male </label><br>
              </form> 
              
            </div>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="size"><h5>About Clothes</h5></label>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
         
        <form>
            <div class="input-group-prepend" style="width: 2.6rem"></div>

             <input type="checkbox" id="size_xxs" name="size_xxs" value="size_xxs">
             <label for="size_xxs"> &#160; XXS / IT 36 / EU 32 </label><br>

             <input type="checkbox" id="size_xs" name="size_xs" value="size_xs">
             <label for="size_xs"> &#160; XS / IT 38 / EU 34 </label><br>

             <input type="checkbox" id="size_s" name="size_s" value="size_s">
             <label for="size_s"> &#160; S / IT 40 / EU 36 </label><br>
        
             <input type="checkbox" id="size_m" name="size_m" value="size_m">
             <label for="size_m"> &#160; M / IT 42 / EU 38 </label><br>
        
             <input type="checkbox" id="size_l" name="size_l" value="size_l">
             <label for="size_l"> &#160; L / IT 44 / EU 40 </label><br>
        
             <input type="checkbox" id="size_xl" name="size_xl" value="size_xl">
             <label for="size_xl"> &#160; XL / IT 46 / EU 42 </label><br>
        
             <input type="checkbox" id="size_xxl" name="size_xxl" value="size_xxl">
             <label for="size_xxl"> &#160; XXL / IT 48 / EU 44 </label><br>

             <input type="checkbox" id="male" name="male" value="Male">
             <label for="male"> &#160; XXXL / IT 50 / EU 36 </label><br>
           
          </form> 
          </div>
        </div>
       </div> 
      </div>
  

     
      
    
      <div class="row">

        <div class="col-md-3 field-label-responsive">
           <label for="aboutshoes"><h5>About Shoes</h5></label>
           </div>

           
           <div class="col-md-6">
             <div class="form-group">
               <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                 
                <form>
                    <div class="input-group-prepend" style="width: 2.6rem"></div>
    
                    <input type="checkbox" id="size_35" name="size_35" value="size_35" >
                    <label for="size_35"> &#160; 35&#160;&#160;</label><br>
    
                    <input type="checkbox" id="size_36" name="size_36" value="size_36">
                    <label for="size_36"> &#160; 36&#160;&#160;</label><br>
    
                    <input type="checkbox" id="size_37" name="size_37" value="size_37">
                    <label for="size_37"> &#160; 37&#160;&#160;</label><br>
                
                    <input type="checkbox" id="size_38" name="size_38" value="size_38">
                    <label for="size_38"> &#160; 38&#160;&#160;</label><br>
                
                    <input type="checkbox" id="size_39" name="size_39" value="size_39">
                    <label for="size_39"> &#160; 39&#160;&#160;</label><br>
                
                    <input type="checkbox" id="size_40" name="size_40" value="size_40">
                    <label for="size_40"> &#160; 40&#160;&#160;</label><br>
                
        
                </form>
            
                <form>
                    <div class="input-group-prepend" style="width: 2.6rem"></div>
                    <input type="checkbox" id="size_41" name="size_41" value="size_41">
                    <label for="size_41"> &#160; 41&#160;</label><br>
    
                    <input type="checkbox" id="size_42" name="size_42" value="size_42">
                    <label for="size_42"> &#160; 42&#160;</label><br>
                    
                    <input type="checkbox" id="size_43" name="size_43" value="size_43">
                    <label for="size_43"> &#160; 43&#160;</label><br>
    
                    <input type="checkbox" id="size_44" name="size_44" value="size_44">
                    <label for="size_44"> &#160; 44&#160;</label><br>
    
                    <input type="checkbox" id="size_45" name="size_45" value="size_45">
                    <label for="size_45"> &#160; 45&#160;</label><br>
    
                    <input type="checkbox" id="size_46" name="size_46" value="size_46">
                    <label for="size_46"> &#160; 46&#160;</label><br>
                </form>
                    <!---TO REVIEW-->
                    &#160;
                    &#160;
                    &#160;
                    &#160;
                    &#160;
                    &#160;
                    &#160;
                    &#160;
                    &#160;
                    &#160;
                <form>

                    
                </form>
                <form>
                    <div class="input-group-prepend" style="width: 2.6rem"></div>
    
                    <input type="checkbox" id="canvas" name="canvas" value="canvas5" >
                    <label for="canvas"> &#160; Canvas </label><br>
    
                    <input type="checkbox" id="leather" name="leather" value="leather">
                    <label for="leather"> &#160; Leather </label><br>
    
                    <input type="checkbox" id="nylon" name="nylon" value="nylon">
                    <label for="nylon"> &#160; Nylon </label><br>
                
                    <input type="checkbox" id="suede" name="suede" value="suede">
                    <label for="suede"> &#160; Suede </label><br>
                
                    <input type="checkbox" id="EVA" name="EVA" value="EVA">
                    <label for="EVA"> &#160; EVA </label><br>
        
                </form>
           </div>
          </div>
         </div>
        </div>     
  

        
                 
        <div class="row">
            <div class="col-md-3 field-label-responsive">
               <label for="aboutcooking"><h5>About Accessories</h5></label>
               </div>
            
               <div class="col-md-6">
                 <div class="form-group">
                   <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     
                    <form>
                        <div class="input-group-prepend" style="width: 2.6rem"></div>
                        
                            <input type="checkbox" id="ring" name="ring" value="ring" >
                            <label for="ring"> &#160; Ring </label><br>
            
                            <input type="checkbox" id="necklace" name="necklace" value="necklace">
                            <label for="necklace"> &#160; Necklace </label><br>
            
                            <input type="checkbox" id="bracelet" name="bracelet" value="bracelet">
                            <label for="bracelet"> &#160; Bracelet </label><br>
                        
                            <input type="checkbox" id="bag" name="bag" value="bag">
                            <label for="bag"> &#160; Bag </label><br>
                    
                    </form>                  
               </div>
              </div>
             </div>
            </div>     
  
  
        <div class="row">

            <div class="col-md-3 field-label-responsive">
               <label for="aboutcooking"><h5>About Cooking</h5></label>
               </div>
    
               
               <div class="col-md-6">
                 <div class="form-group">
                   <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     
                    <form>
                        <div class="input-group-prepend" style="width: 2.6rem"></div>
        
            
                            <input type="checkbox" id="steel" name="steel" value="steel" >
                            <label for="steel"> &#160; Steel </label><br>
            
                            <input type="checkbox" id="aluminum" name="aluminum" value="aluminum">
                            <label for="aluminum"> &#160; Aluminum </label><br>
            
                            <input type="checkbox" id="ceramic" name="ceramic" value="ceramic">
                            <label for="ceramic"> &#160; Ceramic </label><br>
                        
                            <input type="checkbox" id="copper" name="copper" value="copper">
                            <label for="copper"> &#160; Copper </label><br>
                        
                            <input type="checkbox" id="brass" name="brass" value="brass">
                            <label for="brass"> &#160; Brass </label><br>
                            

                            <input type="checkbox" id="glass" name="glass" value="glass">
                            <label for="glass"> &#160; Glass </label><br>
                        
                    </form>                  
               </div>
              </div>
             </div>
            </div>    


            <div class="row">
                <div class="col-md-3 field-label-responsive">
                   <label for="aboutcooking"><h5>About Technology </h5></label>
                   </div>
                
                   <div class="col-md-6">
                     <div class="form-group">
                       <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         
                        <form>
                            <div class="input-group-prepend" style="width: 2.6rem"></div>
                            
                                <input type="checkbox" id="computer" name="computer" value="computer" >
                                <label for="computer"> &#160; Computer </label><br>
                
                                <input type="checkbox" id="smartphone" name="smartphone" value="smartphone">
                                <label for="smartphone"> &#160; Smartphone </label><br>
                
                                <input type="checkbox" id="tablet" name="tablet" value="tablet">
                                <label for="tablet"> &#160; Tablet </label><br>
                            
                                <input type="checkbox" id="desktop" name="desktop" value="desktop">
                                <label for="desktop"> &#160; Desktop </label><br>
                        
                        </form>                  
                   </div>
                  </div>
                 </div>
                </div>     
      
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                       <label for="aboutcooking"><h5>About Book </h5></label>
                       </div>
                    
                       <div class="col-md-6">
                         <div class="form-group">
                           <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                             
                            <form>
                                <div class="input-group-prepend" style="width: 2.6rem"></div>
                                
                                    <input type="checkbox" id="art" name="art" value="art" >
                                    <label for="art"> &#160; Art, cinema and photography </label><br>
                    
                                    <input type="checkbox" id="family" name="family" value="family">
                                    <label for="family"> &#160; Family </label><br>
                    
                                    <input type="checkbox" id="science_fiction" name="science_fiction" value="science_fiction">
                                    <label for="science_fiction"> &#160; Science fiction </label><br>
                                
                                    <input type="checkbox" id="comics_manga" name="comics_manga" value="comics_manga">
                                    <label for="comics_manga"> &#160; Comics and manga </label><br>

                                    <input type="checkbox" id="history" name="history" value="history">
                                    <label for="history"> &#160; History </label><br>

                                    <input type="checkbox" id="novel" name="novel" value="novel">
                                    <label for="novel"> &#160; Novel </label><br>

                                    <input type="checkbox" id="thiriller" name="thiriller" value="thiriller">
                                    <label for="thiriller"> &#160; Thriller </label><br>

                                  
                            
                            </form>   
                        
                        <!---TO REVIEW-->
                        &#160;
                        &#160;
                        &#160;
                        &#160;
                        &#160;
                        &#160;
                        &#160;
                        &#160;
                        &#160;
                        &#160;
                    <form>
    
                        
                            <div class="input-group-prepend" style="width: 2.6rem"></div>
            
                            <input type="checkbox" id="chinese" name="chinese" value="chinese" >
                            <label for="chinese"> &#160; Chinese </label><br>
            
                            <input type="checkbox" id="italian" name="italian" value="italian">
                            <label for="italian"> &#160; Italian </label><br>
            
                            <input type="checkbox" id="french" name="french" value="french">
                            <label for="french"> &#160; French </label><br>
                        
                            <input type="checkbox" id="german" name="german" value="german">
                            <label for="german"> &#160; German </label><br>
                        
                            <input type="checkbox" id="spanish" name="spanish" value="spanish">
                            <label for="spanish"> &#160; Spanish </label><br>
    
    
                            <input type="checkbox" id="polish" name="polish" value="polish">
                            <label for="polish"> &#160; Polish </label><br>
                
                        
                    </form>
                

                       </div>
                      </div>
                     </div>
                    </div>     
          
  
    </form>
</div>
  