<div class="container my-3">
  
    <form >
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2>Personalization</h2>
          <hr>
        </div>
      </div>
     
    <div class="row">
     <div class="col-md-3 field-label-responsive">
        <label for="aboutclothes"><h5>About You</h5></label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <form class="formPersonalization">
               <div class="input-group-prepend" style="width: 2.6rem"></div>
                <input type="checkbox" id="female" name="female" value="Female">
                <label for="female" > Female </label><br>
                <input type="checkbox" id="male" name="male" value="Male">
                <label for="male"> Male </label><br>
                <input type="checkbox" id="notspecify" name="notspecify" value="notspecify">
                <label for="notspecify"> Prefer not to say </label><br>
                
              </form> 
              
            </div>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="size"><h5>About Clothes</h5></label>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
         
        <form>

             <input type="checkbox" id="size_xxs" name="size_xxs" value="size_xxs">
             <label for="size_xxs"> XXS / IT 36 / EU 32 </label><br>

             <input type="checkbox" id="size_xs" name="size_xs" value="size_xs">
             <label for="size_xs"> XS / IT 38 / EU 34 </label><br>

             <input type="checkbox" id="size_s" name="size_s" value="size_s">
             <label for="size_s"> S / IT 40 / EU 36 </label><br>
        
             <input type="checkbox" id="size_m" name="size_m" value="size_m">
             <label for="size_m"> M / IT 42 / EU 38 </label><br>
        
             <input type="checkbox" id="size_l" name="size_l" value="size_l">
             <label for="size_l"> L / IT 44 / EU 40 </label><br>
        
             <input type="checkbox" id="size_xl" name="size_xl" value="size_xl">
             <label for="size_xl"> XL / IT 46 / EU 42 </label><br>
        
             <input type="checkbox" id="size_xxl" name="size_xxl" value="size_xxl">
             <label for="size_xxl"> XXL / IT 48 / EU 44 </label><br>

             <input type="checkbox" id="male" name="male" value="Male">
             <label for="male"> XXXL / IT 50 / EU 36 </label><br>
           
          </form> 
          </div>
        </div>
       </div> 
      </div>
  

     
      
    
      <div class="row">

        <div class="col-md-3 field-label-responsive">
           <label for="aboutshoes"><h5>About Shoes</h5></label>
           </div>

           
           <div class="col-md-6">
             <div class="form-group">
               <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                 
                <form>
                    <input type="checkbox" id="size_35" name="size_35" value="size_35" >
                    <label for="size_35"> 35&#160;&#160;</label><br>
    
                    <input type="checkbox" id="size_36" name="size_36" value="size_36">
                    <label for="size_36"> 36&#160;&#160;</label><br>
    
                    <input type="checkbox" id="size_37" name="size_37" value="size_37">
                    <label for="size_37"> 37&#160;&#160;</label><br>
                
                    <input type="checkbox" id="size_38" name="size_38" value="size_38">
                    <label for="size_38"> 38&#160;&#160;</label><br>
                
                    <input type="checkbox" id="size_39" name="size_39" value="size_39">
                    <label for="size_39"> 39&#160;&#160;</label><br>
                
                    <input type="checkbox" id="size_40" name="size_40" value="size_40">
                    <label for="size_40"> 40&#160;&#160;</label><br>
                
        
                </form>
            
                <form>
                    
                    <input type="checkbox" id="size_41" name="size_41" value="size_41">
                    <label for="size_41"> 41&#160;</label><br>
    
                    <input type="checkbox" id="size_42" name="size_42" value="size_42">
                    <label for="size_42"> 42&#160;</label><br>
                    
                    <input type="checkbox" id="size_43" name="size_43" value="size_43">
                    <label for="size_43"> 43&#160;</label><br>
    
                    <input type="checkbox" id="size_44" name="size_44" value="size_44">
                    <label for="size_44"> 44&#160;</label><br>
    
                    <input type="checkbox" id="size_45" name="size_45" value="size_45">
                    <label for="size_45"> 45&#160;</label><br>
    
                    <input type="checkbox" id="size_46" name="size_46" value="size_46">
                    <label for="size_46"> 46&#160;</label><br>
                </form>
                   
                
                <form style="margin-left: 5em;">
                    <input type="checkbox" id="canvas" name="canvas" value="canvas5" >
                    <label for="canvas"> Canvas </label><br>
    
                    <input type="checkbox" id="leather" name="leather" value="leather">
                    <label for="leather"> Leather </label><br>
    
                    <input type="checkbox" id="nylon" name="nylon" value="nylon">
                    <label for="nylon"> Nylon </label><br>
                
                    <input type="checkbox" id="suede" name="suede" value="suede">
                    <label for="suede"> Suede </label><br>
                
                    <input type="checkbox" id="EVA" name="EVA" value="EVA">
                    <label for="EVA"> EVA </label><br>
        
                </form>
           </div>
          </div>
         </div>
        </div>     
  

        
                 
        <div class="row">
            <div class="col-md-3 field-label-responsive">
               <label for="aboutcooking"><h5>About Accessories</h5></label>
               </div>
            
               <div class="col-md-6">
                 <div class="form-group">
                   <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     
                    <form>
                        <div class="input-group-prepend" style="width: 2.6rem"></div>
                        
                            <input type="checkbox" id="ring" name="ring" value="ring" >
                            <label for="ring"> Ring </label><br>
            
                            <input type="checkbox" id="necklace" name="necklace" value="necklace">
                            <label for="necklace"> Necklace </label><br>
            
                            <input type="checkbox" id="bracelet" name="bracelet" value="bracelet">
                            <label for="bracelet"> Bracelet </label><br>
                        
                            <input type="checkbox" id="bag" name="bag" value="bag">
                            <label for="bag"> Bag </label><br>
                    
                    </form>                  
               </div>
              </div>
             </div>
            </div>     
  
  
        <div class="row">

            <div class="col-md-3 field-label-responsive">
               <label for="aboutcooking"><h5>About Cooking</h5></label>
               </div>
    
               
               <div class="col-md-6">
                 <div class="form-group">
                   <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     
                    <form>
                            <input type="checkbox" id="steel" name="steel" value="steel" >
                            <label for="steel"> Steel </label><br>
            
                            <input type="checkbox" id="aluminum" name="aluminum" value="aluminum">
                            <label for="aluminum"> Aluminum </label><br>
            
                            <input type="checkbox" id="ceramic" name="ceramic" value="ceramic">
                            <label for="ceramic"> Ceramic </label><br>
                        
                            <input type="checkbox" id="copper" name="copper" value="copper">
                            <label for="copper"> Copper </label><br>
                        
                            <input type="checkbox" id="brass" name="brass" value="brass">
                            <label for="brass"> Brass </label><br>
                            

                            <input type="checkbox" id="glass" name="glass" value="glass">
                            <label for="glass"> Glass </label><br>
                        
                    </form>                  
               </div>
              </div>
             </div>
            </div>    


            <div class="row">
                <div class="col-md-3 field-label-responsive">
                   <label for="aboutcooking"><h5>About Technology </h5></label>
                   </div>
                
                   <div class="col-md-6">
                     <div class="form-group">
                       <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         
                        <form>
                            <div class="input-group-prepend" style="width: 2.6rem"></div>
                            
                                <input type="checkbox" id="computer" name="computer" value="computer" >
                                <label for="computer"> Computer </label><br>
                
                                <input type="checkbox" id="smartphone" name="smartphone" value="smartphone">
                                <label for="smartphone"> Smartphone </label><br>
                
                                <input type="checkbox" id="tablet" name="tablet" value="tablet">
                                <label for="tablet"> Tablet </label><br>
                            
                                <input type="checkbox" id="desktop" name="desktop" value="desktop">
                                <label for="desktop"> Desktop </label><br>
                        
                        </form>                  
                   </div>
                  </div>
                 </div>
                </div>     
      
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                       <label for="aboutbook"><h5>About Book </h5></label>
                       </div>
                    
                       <div class="col-md-6">
                         <div class="form-group">
                           <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                             
                            <form>
                                
                                
                                    <input type="checkbox" id="art" name="art" value="art" >
                                    <label for="art"> Art, cinema and photography </label><br>
                    
                                    <input type="checkbox" id="family" name="family" value="family">
                                    <label for="family"> Family </label><br>
                    
                                    <input type="checkbox" id="science_fiction" name="science_fiction" value="science_fiction">
                                    <label for="science_fiction"> Science fiction </label><br>
                                
                                    <input type="checkbox" id="comics_manga" name="comics_manga" value="comics_manga">
                                    <label for="comics_manga"> Comics and manga </label><br>

                                    <input type="checkbox" id="history" name="history" value="history">
                                    <label for="history"> History </label><br>

                                    <input type="checkbox" id="novel" name="novel" value="novel">
                                    <label for="novel"> Novel </label><br>

                                    <input type="checkbox" id="thiriller" name="thiriller" value="thiriller">
                                    <label for="thiriller"> Thriller </label><br>

                                  
                            
                            </form>   
                        
                    <form style="margin-left: 5em;">
                            <input type="checkbox" id="chinese" name="chinese" value="chinese" >
                            <label for="chinese"> Chinese </label><br>
            
                            <input type="checkbox" id="italian" name="italian" value="italian">
                            <label for="italian"> Italian </label><br>
            
                            <input type="checkbox" id="french" name="french" value="french">
                            <label for="french"> French </label><br>
                        
                            <input type="checkbox" id="german" name="german" value="german">
                            <label for="german"> German </label><br>
                        
                            <input type="checkbox" id="spanish" name="spanish" value="spanish">
                            <label for="spanish"> Spanish </label><br>
    
    
                            <input type="checkbox" id="polish" name="polish" value="polish">
                            <label for="polish"> Polish </label><br>
                        
                    </form>
                

                       </div>
                      </div>
                     </div>
                    </div>     
    </form>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
          <label for="size"><h5>About Brand</h5></label>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
       
      <form>

           <input type="checkbox" id="vans" name="vans" value="vans">
           <label for="vans"> Vans </label><br>

           <input type="checkbox" id="nike" name="nike" value="nike">
           <label for="nike"> Nike </label><br>

           <input type="checkbox" id="adidas" name="adidas" value="adidas">
           <label for="adidas"> Adidas </label><br>
      
           <input type="checkbox" id="rebook" name="rebook" value="rebook">
           <label for="rebook"> Rebook </label><br>
      
           <input type="checkbox" id="convers" name="convers" value="convers">
           <label for="convers"> Convers </label><br>
      
           <input type="checkbox" id="zara" name="zara" value="zara">
           <label for="zara"> Zara </label><br>
      
           <input type="checkbox" id="vintage" name="vintage" value="vintage">
           <label for="vintage"> Vintage </label><br>

           <input type="checkbox" id="hem" name="hem" value="hem">
           <label for="hem"> H&M </label><br>

           
           <input type="checkbox" id="fila" name="fila" value="fila">
           <label for="fila"> FILA </label><br>
 
           <input type="checkbox" id="pandora" name="pandora" value="pandora">
           <label for="pandora"> Pandora </label><br>
 
           <input type="checkbox" id="brosway" name="brosway" value="brosway">
           <label for="brosway"> Brosway </label><br>
      
           <input type="checkbox" id="tiffany" name="tiffany" value="tiffany">
           <label for="tiffany"> Tiffany & Co. </label><br>
      
           <input type="checkbox" id="kidult" name="kidult" value="kidult">
           <label for="kidult"> Kidult </label><br>
      
           <input type="checkbox" id="dodo" name="dodo" value="dodo">
           <label for="dodo"> Dodo </label><br>
      
           <input type="checkbox" id="aeternum" name="aeternum" value="aeternum">
           <label for="aeternum"> Aeternum </label><br>
 
           <input type="checkbox" id="axentia" name="axentia" value="axentia">
           <label for="axentia"> Axentia </label><br>

         
        </form> 
        

        <form style="margin-left: 5em;">

                    <input type="checkbox" id="bershka" name="bershka" value="bershka">
                    <label for="bershka"> Bershka </label><br>

                    <input type="checkbox" id="stradivarius" name="stradivarius" value="stradivarius">
                    <label for="stradivarius"> Stradivarius </label><br>

                    <input type="checkbox" id="benetton" name="benetton" value="benetton">
                    <label for="benetton"> United Colors of Benetton </label><br>
              
                    <input type="checkbox" id="pullbear" name="pullbear" value="pullbear">
                    <label for="pullbear"> Pull&Bear </label><br>
              
                    <input type="checkbox" id="carpisa" name="carpisa" value="carpisa">
                    <label for="carpisa"> Carpisa </label><br>
              
                    <input type="checkbox" id="pandora" name="pandora" value="pandora">
                    <label for="pandora"> Pandora </label><br>
              
                    <input type="checkbox" id="gucci" name="gucci" value="gucci">
                    <label for="gucci"> Gucci </label><br>

                    <input type="checkbox" id="asus" name="asus" value="asus">
                    <label for="asus"> Asus </label><br>
      
                    <input type="checkbox" id="apple" name="apple" value="apple">
                    <label for="apple"> Apple </label><br>
          
                    <input type="checkbox" id="huawei" name="huawei" value="huawei">
                    <label for="huawei"> Huawei </label><br>
          
                    <input type="checkbox" id="samsung" name="samsung" value="samsung">
                    <label for="samsung"> Samsung </label><br>
               
                    <input type="checkbox" id="xiaomi" name="xiaomi" value="xiaomi">
                    <label for="xiaomi"> Xiaomi </label><br>
               
                    <input type="checkbox" id="carpisa" name="carpisa" value="carpisa">
                    <label for="carpisa"> Carpisa </label><br>
               
                    <input type="checkbox" id="kaimano" name="kaimano" value="kaimano">
                    <label for="kaimano"> Kaimano </label><br>
               
                    <input type="checkbox" id="guzzini" name="guzzini" value="guzzini">
                    <label for="guzzini"> Guzzini </label><br>
          
                    <input type="checkbox" id="tupperware" name="tupperware" value="tupperware">
                    <label for="tupperware"> Tupperware </label><br>

                  </form>


        </div>
      </div>
     </div> 
    </div>



<br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button class="primary-btn" type="submit">
          <i class="fa fa-check-square"></i>  &#160; Save
        </button>
      </div>
    </div>

</div>
  